<div class="container" id="game-list">
    <div class="container">
        <h5>Select your game!</h5>
    </div>
    <div class="container">
        <div class="list-group">
            <a href="#" class="list-group-item">Levers <p class="game-desc pull-right">Select buttons and make sure you don't pick the bomb!</p></a>
            <a href="#" class="list-group-item">Beehive <p class="game-desc pull-right">Avoid the bombs and make your opponents take them instead!</p></a>
            <a href="#" class="list-group-item">Rock, Paper, Scissors <p class="game-desc pull-right">Work as a team to take down the computer in a best of 5!</p></a>
        </div>
    </div>
</div>
